{% load static %}
<!-- HTML5の文書型宣言 -->
<!DOCTYPE html>
<!-- 言語を日本語に設定 -->
<html lang="ja">


<head>
    <!-- ページのメタ情報を定義 -->
    <!-- 文字エンコーディングをUTF-8に設定 -->
    <meta charset="UTF-8">
    <!-- レスポンシブデザインのための設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!-- ページのタイトルを設定 -->
    <title>Login | WebLearning</title>

    <!--style.cssの読み込み -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- 外部リンクアイコン -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Faviconの設定 -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- googlefonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <!-- ページの本文を記述 -->

    <header>
        <!-- ページのヘッダー部分 -->
        <div id="nav-menu-container">
            <a class="title" href="{% url 'weblearning:login' %}" tabindex="-1">WebLearning</a>
            <div id="dummy"></div>
        </div>
    </header>

    <main class="fade-in">
        <div id="loading-overlay">
            <div class="spinner"></div>
        </div>


        <h2>Login</h2>
        <p>ユーザー名：test / パスワード：qwertyuiop@[ でログイン可能</p>
        <p>デフォルトだとセッションはDBで2週間管理、セッションIDはブラウザのクッキーで保持</p>
        <p>つまり、ログアウト or ログイン後2週間経過 or ブラウザのクッキーを削除することでセッションは無効となる</p>
        <o>
            {% if form.errors %}
            <p class="error" style="color: red;">ユーザー名またはパスワードが正しくありません。</p>
            {% endif %}

            <form method="post" style="display: flex; flex-direction: column; width: 300px; margin: 20px;">
                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}

                {{ form.password.label_tag }}
                {{ form.password }}
                <button type="submit" style="margin: 20px 0;">ログイン</button>
            </form>

    </main>

    <footer>
        <div id="footer-container">
            <a class="title" href="{% url 'weblearning:index' %}" tabindex="-1">WebLearning</a>
            <p>© 2025 SYNPAGE </p>
        </div>
        <div id="external-link-container">
            <p>External link</p>
            <nav id="footer-nav">
                <ul>
                    <li>
                        <a class="planestyle-link" href="https://github.com/shindy-dev/synpage" target="_blank"
                            rel="noopener noreferrer">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>