@charset "UTF-8";
/* CSS Document */

/* ====== ベースレイアウト ====== */
body {
    margin: 0;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100dvw;
}

header {
    position: relative;
    position: sticky;
    background-color: #005086;
    top: 0;
    align-content: center;
    z-index: 1;
    width: 100%;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

footer {
    display: flex;
    background-color: #005086;
    color: #f3f3f3;
    font-size: 1rem;
    justify-content: space-between;
}

footer>* {
    margin: 20px;
}

/* ====== テーブル ====== */
.table-container {
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f4f6f8;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

tr:hover {
    background-color: #f0f8ff;
    transition: background-color 0.3s ease;
}

th {
    color: #333;
    font-weight: 600;
}

/* ====== ボタン ====== */
button {
    align-self: flex-start;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8em 1.6em;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* ====== ロード画面 ====== */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
}

#nav-menu-container {
    display: flex;
    position: relative;
    height: 80px;
    z-index: 2;
    overflow: visible;
}

#nav-menu-container>.title {
    margin: 20px;
    z-index: 3;
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
}

/* メニューボタンのスタイル */
.nav-menu-button {
    z-index: 3;
    cursor: pointer;
}

/* メニューバーのスタイル */
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px 0;
    background-color: #f3f3f3;
    transition: 0.4s;
}

/* メニュートグルのスタイル */
#nav-menu-toggle {
    display: none;
}

/* メニューボタンがチェックされた場合のバーのアニメーション */
#nav-menu-toggle:checked~.nav-menu-button .bar:nth-child(1) {
    transform: rotate(45deg) translate(5.6px, 5.6px);
}

#nav-menu-toggle:checked~.nav-menu-button .bar:nth-child(2) {
    opacity: 0;
}

#nav-menu-toggle:checked~.nav-menu-button .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5.6px, -5.6px);
}

/* メニューのスタイル */
#nav-menu {
    display: block;
    position: fixed;
    left: -100dvw;
    width: 100dvw;
    height: 100%;
    transition: 0.4s;
    background-color: #005086;
    z-index: 2;
    overflow: visible;
}

#dummy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    transition: 0.4s;
    background: rgb(1, 1, 1, 0.7);
    z-index: 1;
}

#nav-menu-toggle:checked~#nav-menu {
    left: 0;
    min-width: 285px;
}

#nav-menu ul li div,
#nav-menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1rem;
    cursor: pointer;
}

#nav-menu ul li:hover>a,
#nav-menu ul li:hover>div {
    color: #ff8432;
    background-color: #367ba9;
    border-radius: 6px;
}

.dropdown {
    position: relative;
}

.dropdown-list {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 3;
    background-color: #005086;
    top: 100%;
    left: 0;
    border-radius: 6px;
}

/* ホバー時に表示 */
.dropdown:hover>.dropdown-list,
.dropdown:focus-within>.dropdown-list {
    display: block;
}

.dropdown ul {
    list-style: none;
    width: 100%;
}

.title {
    text-decoration: none;
    font-size: 1.45rem;
    font-weight: bold;
    color: #f3f3f3;
}

/* プレーンスタイルのリンク */
.planestyle-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.planestyle-link:hover {
    color: #ff8432;
}

/* ====== レスポンシブ対応 ====== */
/* 801px以上の画面幅で表示されるスタイル */
@media screen and (min-width: 801px) {
    #nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: flex-start;
    }

    #nav-menu>ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    .nav-menu-button {
        display: none;
    }

    .dropdown-list {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
}

/* 800px以下の画面幅で表示されるスタイル */
@media screen and (max-width: 800px) {
    #nav-menu {
        width: 50dvw;
        left: -50dvw;
    }

    #nav-menu>ul {
        list-style: none;
        padding-top: 80px;
        padding-left: 0;
        margin: 0;
        width: 100%;
    }

    #nav-menu-toggle:checked~#nav-menu {
        left: 0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }

    .nav-menu-button {
        margin: 25px;
        margin-right: 0;
    }
}


/* ====== アニメーション ====== */
/* スピナー */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite, fadeIn 0.5s ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* フェードイン */
.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}